<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  <a [routerLink]="['/members']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">MEMBERS</a>
  <a [routerLink]="['/dash']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">DASH</a>
</nav>
